<div class="jumbotron">
  <h1 class="display-4">Welcome to Bookkeeper.net</h1>
  <p class="lead">Select a sport below to get started.</p>
  <hr class="my-4">
  <p>Click on a sport to view it's upcoming games and live odds</p>
  <div class="links">
    <a class="btn btn-primary btn-lg" routerLink="/mlb" role="button">MLB</a>
    <a class="btn btn-primary btn-lg" routerLink="/nba" role="button">NBA</a>
    <a class="btn btn-primary btn-lg" routerLink="/nfl" role="button">NFL</a>
    <a class="btn btn-primary btn-lg" routerLink="/nhl" role="button">NHL</a>
  </div>
</div>
