<div class="jumbotron">
  <h1 class="display-4">Welcome to Bookkeeper.net</h1>
  <p class="lead">Select a sport below to get started.</p>
  <hr class="my-4">
  <p>Click on a sport to view it's upcoming games and live odds</p>
  <div class="links">
    <a class="btn btn-primary btn-lg" routerLink="/" role="button" (click)="viewOddsList('mlb')">MLB</a>
    <a class="btn btn-primary btn-lg" routerLink="/" role="button" (click)="viewOddsList('nba')">NBA</a>
    <a class="btn btn-primary btn-lg" routerLink="/" role="button" (click)="viewOddsList('nfl')">NFL</a>
    <a class="btn btn-primary btn-lg" routerLink="/" role="button" (click)="viewOddsList('nhl')">NHL</a>
  </div>
</div>
<app-odds-list [oddsList]="oddsList" [sportTitle]="sportTitle"></app-odds-list>
