.header {
  text-align: center;
  padding: 1em;
}

#home-img, #away-img{
  max-width: 1.5em;
  margin-right: 0.5em;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;
  table-layout: auto;
  width: 100px;
}

tr:nth-child(even){
  background: #CCC;
}

tr:nth-child(odd){
  background: #FFF;
}

div#teamDiv{
  border: 1px solid black;
}

