<div class="header">
  <h1>NHL Games</h1>
</div>
<div class="container-fluid">
  <div class="row card-group" style="display: flex;">
    <div class="col-3 my-3" *ngFor=" let game of oddsList, let i = index">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">
            <img id="away-img" src='{{ "assets/" + game.sport_key + "/" + game.away_team + ".png" }}'>
            {{game.away_team}}
            <br>vs.<br>
            <img id="home-img" src='{{ "assets/"  + game.sport_key + "/" + game.home_team + ".png" }}'>
            {{game.home_team}}
          </h5>
          <h6 class="card-subtitle" id="date">{{game.commence_time}}</h6>
          <a class="btn btn-primary" (click)="viewOdds(i)">View Odds</a>
       </div>
      </div>
    </div>
  </div>
</div>
<app-odds-list></app-odds-list>
